:root {
    --title-dsk-h1-semibold-font-family: "Inter", Helvetica;
    --title-dsk-h1-semibold-font-weight: 600;
    --title-dsk-h1-semibold-font-size: 40px;
    --title-dsk-h1-semibold-letter-spacing: 0px;
    --title-dsk-h1-semibold-line-height: 40px;
    --title-dsk-h1-semibold-font-style: normal;
    --title-dsk-h2-semibold-font-family: "Inter", Helvetica;
    --title-dsk-h2-semibold-font-weight: 600;
    --title-dsk-h2-semibold-font-size: 32px;
    --title-dsk-h2-semibold-letter-spacing: 0px;
    --title-dsk-h2-semibold-line-height: 40px;
    --title-dsk-h2-semibold-font-style: normal;
    --title-dsk-h2-regular-font-family: "Inter", Helvetica;
    --title-dsk-h2-regular-font-weight: 400;
    --title-dsk-h2-regular-font-size: 32px;
    --title-dsk-h2-regular-letter-spacing: 0px;
    --title-dsk-h2-regular-line-height: 40px;
    --title-dsk-h2-regular-font-style: normal;
    --title-dsk-h3-semibold-font-family: "Inter", Helvetica;
    --title-dsk-h3-semibold-font-weight: 600;
    --title-dsk-h3-semibold-font-size: 24px;
    --title-dsk-h3-semibold-letter-spacing: 0px;
    --title-dsk-h3-semibold-line-height: 32px;
    --title-dsk-h3-semibold-font-style: normal;
    --title-mbl-h1-semibold-font-family: "Inter", Helvetica;
    --title-mbl-h1-semibold-font-weight: 600;
    --title-mbl-h1-semibold-font-size: 32px;
    --title-mbl-h1-semibold-letter-spacing: 0px;
    --title-mbl-h1-semibold-line-height: 32px;
    --title-mbl-h1-semibold-font-style: normal;
    --title-mbl-h2-semibold-font-family: "Inter", Helvetica;
    --title-mbl-h2-semibold-font-weight: 600;
    --title-mbl-h2-semibold-font-size: 26px;
    --title-mbl-h2-semibold-letter-spacing: 0px;
    --title-mbl-h2-semibold-line-height: 32px;
    --title-mbl-h2-semibold-font-style: normal;
    --title-mbl-h2-regular-font-family: "Inter", Helvetica;
    --title-mbl-h2-regular-font-weight: 400;
    --title-mbl-h2-regular-font-size: 26px;
    --title-mbl-h2-regular-letter-spacing: 0px;
    --title-mbl-h2-regular-line-height: 32px;
    --title-mbl-h2-regular-font-style: normal;
    --title-mbl-h3-semibold-font-family: "Inter", Helvetica;
    --title-mbl-h3-semibold-font-weight: 600;
    --title-mbl-h3-semibold-font-size: 22px;
    --title-mbl-h3-semibold-letter-spacing: 0px;
    --title-mbl-h3-semibold-line-height: 32px;
    --title-mbl-h3-semibold-font-style: normal;
    --body-lg-semibold-font-family: "Inter", Helvetica;
    --body-lg-semibold-font-weight: 600;
    --body-lg-semibold-font-size: 18px;
    --body-lg-semibold-letter-spacing: 0px;
    --body-lg-semibold-line-height: 24px;
    --body-lg-semibold-font-style: normal;
    --body-lg-regular-font-family: "Inter", Helvetica;
    --body-lg-regular-font-weight: 400;
    --body-lg-regular-font-size: 18px;
    --body-lg-regular-letter-spacing: 0px;
    --body-lg-regular-line-height: 24px;
    --body-lg-regular-font-style: normal;
    --body-md-caps-semibold-font-family: "Inter", Helvetica;
    --body-md-caps-semibold-font-weight: 600;
    --body-md-caps-semibold-font-size: 16px;
    --body-md-caps-semibold-letter-spacing: 0px;
    --body-md-caps-semibold-line-height: 22px;
    --body-md-caps-semibold-font-style: normal;
    --body-md-caps-regular-font-family: "Inter", Helvetica;
    --body-md-caps-regular-font-weight: 400;
    --body-md-caps-regular-font-size: 16px;
    --body-md-caps-regular-letter-spacing: 0px;
    --body-md-caps-regular-line-height: 22px;
    --body-md-caps-regular-font-style: normal;
    --body-md-semibold-font-family: "Inter", Helvetica;
    --body-md-semibold-font-weight: 600;
    --body-md-semibold-font-size: 16px;
    --body-md-semibold-letter-spacing: 0px;
    --body-md-semibold-line-height: 22px;
    --body-md-semibold-font-style: normal;
    --body-md-regular-font-family: "Inter", Helvetica;
    --body-md-regular-font-weight: 400;
    --body-md-regular-font-size: 16px;
    --body-md-regular-letter-spacing: 0px;
    --body-md-regular-line-height: 22px;
    --body-md-regular-font-style: normal;
    --body-md-regular-underline-font-family: "Inter", Helvetica;
    --body-md-regular-underline-font-weight: 400;
    --body-md-regular-underline-font-size: 16px;
    --body-md-regular-underline-letter-spacing: 0px;
    --body-md-regular-underline-line-height: 22px;
    --body-md-regular-underline-font-style: normal;
    --body-sm-semibold-font-family: "Inter", Helvetica;
    --body-sm-semibold-font-weight: 600;
    --body-sm-semibold-font-size: 14px;
    --body-sm-semibold-letter-spacing: 0px;
    --body-sm-semibold-line-height: 20px;
    --body-sm-semibold-font-style: normal;
    --body-sm-regular-font-family: "Inter", Helvetica;
    --body-sm-regular-font-weight: 400;
    --body-sm-regular-font-size: 14px;
    --body-sm-regular-letter-spacing: 0px;
    --body-sm-regular-line-height: 20px;
    --body-sm-regular-font-style: normal;
    --body-sm-regular-underline-font-family: "Inter", Helvetica;
    --body-sm-regular-underline-font-weight: 400;
    --body-sm-regular-underline-font-size: 14px;
    --body-sm-regular-underline-letter-spacing: 0px;
    --body-sm-regular-underline-line-height: 20px;
    --body-sm-regular-underline-font-style: normal;
    --body-xs-semibold-font-family: "Inter", Helvetica;
    --body-xs-semibold-font-weight: 600;
    --body-xs-semibold-font-size: 13px;
    --body-xs-semibold-letter-spacing: -0.26px;
    --body-xs-semibold-line-height: 20px;
    --body-xs-semibold-font-style: normal;
    --body-xs-regular-font-family: "Inter", Helvetica;
    --body-xs-regular-font-weight: 400;
    --body-xs-regular-font-size: 13px;
    --body-xs-regular-letter-spacing: -0.26px;
    --body-xs-regular-line-height: 20px;
    --body-xs-regular-font-style: normal;
    --link-lg-semibold-font-family: "Inter", Helvetica;
    --link-lg-semibold-font-weight: 600;
    --link-lg-semibold-font-size: 18px;
    --link-lg-semibold-letter-spacing: 0px;
    --link-lg-semibold-line-height: 24px;
    --link-lg-semibold-font-style: normal;
    --link-md-semibold-font-family: "Inter", Helvetica;
    --link-md-semibold-font-weight: 600;
    --link-md-semibold-font-size: 16px;
    --link-md-semibold-letter-spacing: 0px;
    --link-md-semibold-line-height: 22px;
    --link-md-semibold-font-style: normal;
    --shadow-inset: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.07), inset 0px -0.5px 1px 0px rgba(255, 255, 255, 0.25);
    --shadow-100: 0px 1px 4px 0px rgba(0, 0, 0, 0.04), 0px -0.5px 0.25px -0.25px rgba(255, 255, 255, 0.2);
    --shadow-200: 0px 3px 8px -2px rgba(0, 0, 0, 0.05), 0px -0.5px 0.25px -0.25px rgba(255, 255, 255, 0.2);
    --shadow-300: 0px 4px 12px -4px rgba(0, 0, 0, 0.1), 0px -1px 0.5px -0.5px rgba(255, 255, 255, 0.2);
    --shadow-400: 0px 8px 16px -6px rgba(0, 0, 0, 0.1), 0px -1px 0.5px -0.5px rgba(255, 255, 255, 0.2);
    --shadow-500: 0px 12px 24px -8px rgba(0, 0, 0, 0.12), 0px -1px 0.5px -0.5px rgba(255, 255, 255, 0.2);
    --shadow-600: 0px 20px 24px -10px rgba(0, 0, 0, 0.15), 0px -1px 0.5px -0.5px rgba(255, 255, 255, 0.2);
    --colorbase-core-fds-cb-gray5: rgba(17, 17, 17, 1);
    --colorbase-core-fds-cb-gray6: rgba(19, 19, 20, 1);
    --colorbase-core-fds-cb-gray8: rgba(22, 23, 25, 1);
    --colorbase-core-fds-cb-gray11: rgba(27, 29, 33, 1);
    --colorbase-core-fds-cb-gray15: rgba(36, 37, 41, 1);
    --colorbase-core-fds-cb-gray19: rgba(46, 47, 51, 1);
    --colorbase-core-fds-cb-gray26: rgba(61, 62, 66, 1);
    --colorbase-core-fds-cb-gray94: rgba(237, 237, 238, 1);
    --colorbase-core-fds-cb-gray96: rgba(243, 243, 244, 1);
    --colorbase-core-fds-cb-gray98: rgba(248, 248, 249, 1);
    --colorbase-core-fds-cb-gray100: rgba(255, 255, 255, 1);
    --colorbase-core-fds-cb-redl20: rgba(105, 0, 3, 1);
    --colorbase-core-fds-cb-redl28: rgba(139, 0, 5, 1);
    --colorbase-core-fds-cb-redl36: rgba(171, 9, 9, 1);
    --colorbase-core-fds-cb-redd56: rgba(222, 91, 93, 1);
    --colorbase-core-fds-cb-redd66: rgba(255, 116, 108, 1);
    --colorbase-core-fds-cb-redd74: rgba(255, 154, 151, 1);
    --colorbase-core-fds-cb-yellowl26: rgba(78, 59, 0, 1);
    --colorbase-core-fds-cb-yellowl45: rgba(132, 103, 8, 1);
    --colorbase-core-fds-cb-yellowl78: rgba(231, 188, 60, 1);
    --colorbase-core-fds-cb-yellowl88: rgba(255, 217, 116, 1);
    --colorbase-core-fds-cb-yellowd80: rgba(243, 190, 98, 1);
    --colorbase-core-fds-cb-yellowd88: rgba(255, 214, 148, 1);
    --colorbase-core-fds-cb-greenl40: rgba(0, 109, 56, 1);
    --colorbase-core-fds-cb-greenl48: rgba(4, 132, 70, 1);
    --colorbase-core-fds-cb-greend58: rgba(55, 157, 99, 1);
    --colorbase-core-fds-cb-greend68: rgba(84, 184, 123, 1);
    --colorbase-core-fds-cb-bluel34: rgba(0, 85, 124, 1);
    --colorbase-core-fds-cb-bluel42: rgba(12, 105, 150, 1);
    --colorbase-core-fds-cb-bluel50: rgba(0, 126, 181, 1);
    --colorbase-core-fds-cb-blued53: rgba(35, 132, 205, 1);
    --colorbase-core-fds-cb-blued61: rgba(65, 152, 227, 1);
    --colorbase-core-fds-cb-blued71: rgba(114, 179, 243, 1);
    --colorbase-core-fds-cb-alphablue8: rgba(35, 132, 205, 0.08);
    --colorbase-core-fds-cb-alphablue15: rgba(35, 132, 205, 0.15);
    --colorbase-core-fds-cb-alphablue30: rgba(35, 132, 205, 0.3);
    --colorbase-core-fds-cb-alphablue45: rgba(35, 132, 205, 0.45);
    --colorbase-core-fds-cb-alphagreen8: rgba(55, 157, 99, 0.08);
    --colorbase-core-fds-cb-alphagreen15: rgba(55, 157, 99, 0.15);
    --colorbase-core-fds-cb-alphagreen30: rgba(55, 157, 99, 0.3);
    --colorbase-core-fds-cb-alphared10: rgba(222, 91, 93, 0.08);
    --colorbase-core-fds-cb-alphared15: rgba(222, 91, 93, 0.13);
    --colorbase-core-fds-cb-alphared30: rgba(222, 91, 93, 0.3);
    --colorbase-core-fds-cb-alphablack2: rgba(0, 0, 0, 0.02);
    --colorbase-core-fds-cb-alphablack5: rgba(0, 0, 0, 0.05);
    --colorbase-core-fds-cb-alphablack10: rgba(0, 0, 0, 0.1);
    --colorbase-core-fds-cb-alphablack15: rgba(0, 0, 0, 0.15);
    --colorbase-core-fds-cb-alphablack25: rgba(0, 0, 0, 0.25);
    --colorbase-core-fds-cb-alphablack37: rgba(0, 0, 0, 0.37);
    --colorbase-core-fds-cb-alphablack40: rgba(0, 0, 0, 0.4);
    --colorbase-core-fds-cb-alphablack54: rgba(0, 0, 0, 0.54);
    --colorbase-core-fds-cb-alphablack60: rgba(0, 0, 0, 0.6);
    --colorbase-core-fds-cb-alphablack65: rgba(0, 0, 0, 0.65);
    --colorbase-core-fds-cb-alphablack83: rgba(0, 0, 0, 0.83);
    --colorbase-core-fds-cb-alphawhite2: rgba(255, 255, 255, 0.02);
    --colorbase-core-fds-cb-alphawhite4: rgba(255, 255, 255, 0.04);
    --colorbase-core-fds-cb-alphawhite5: rgba(255, 255, 255, 0.05);
    --colorbase-core-fds-cb-alphawhite10: rgba(255, 255, 255, 0.1);
    --colorbase-core-fds-cb-alphawhite15: rgba(255, 255, 255, 0.15);
    --colorbase-core-fds-cb-alphawhite20: rgba(255, 255, 255, 0.2);
    --colorbase-core-fds-cb-alphawhite43: rgba(255, 255, 255, 0.43);
    --colorbase-core-fds-cb-alphawhite56: rgba(255, 255, 255, 0.56);
    --colorbase-core-fds-cb-alphawhite68: rgba(255, 255, 255, 0.68);
    --colorbase-core-fds-cb-alphawhite80: rgba(255, 255, 255, 0.8);
    --colorbase-core-fds-cb-alphawhite90: rgba(255, 255, 255, 0.9);
    --colorbase-extended-fds-cb-0l85: rgba(255, 197, 213, 1);
    --colorbase-extended-fds-cb-0d80: rgba(249, 180, 200, 1);
    --colorbase-extended-fds-cb-40l85: rgba(253, 201, 182, 1);
    --colorbase-extended-fds-cb-40d80: rgba(247, 184, 161, 1);
    --colorbase-extended-fds-cb-80l90: rgba(252, 222, 177, 1);
    --colorbase-extended-fds-cb-80d85: rgba(243, 207, 151, 1);
    --colorbase-extended-fds-cb-120l90: rgba(224, 230, 186, 1);
    --colorbase-extended-fds-cb-120d85: rgba(209, 217, 162, 1);
    --colorbase-extended-fds-cb-160l90: rgba(202, 233, 210, 1);
    --colorbase-extended-fds-cb-160d85: rgba(180, 222, 193, 1);
    --colorbase-extended-fds-cb-200l90: rgba(196, 233, 234, 1);
    --colorbase-extended-fds-cb-200d85: rgba(171, 221, 223, 1);
    --colorbase-extended-fds-cb-240l90: rgba(205, 230, 251, 1);
    --colorbase-extended-fds-cb-240d85: rgba(183, 217, 244, 1);
    --colorbase-extended-fds-cb-280l85: rgba(206, 210, 251, 1);
    --colorbase-extended-fds-cb-280d80: rgba(190, 195, 246, 1);
    --colorbase-extended-fds-cb-320l85: rgba(234, 202, 241, 1);
    --colorbase-extended-fds-cb-320d80: rgba(223, 186, 234, 1);
    --color-semantic-fds-c-neutral-background-minimum: var(--colorbase-core-fds-cb-gray6);
    --color-semantic-fds-c-neutral-background-low: var(--colorbase-core-fds-cb-gray8);
    --color-semantic-fds-c-neutral-background-medium: var(--colorbase-core-fds-cb-gray11);
    --color-semantic-fds-c-neutral-background-high: var(--colorbase-core-fds-cb-gray15);
    --color-semantic-fds-c-neutral-background-modaloverlay: var(--colorbase-core-fds-cb-alphablack60);
    --color-semantic-fds-c-neutral-surface-shift-low: var(--colorbase-core-fds-cb-alphawhite5);
    --color-semantic-fds-c-neutral-surface-shift-disabled: var(--colorbase-core-fds-cb-alphawhite4);
    --color-semantic-fds-c-neutral-surface-shift-low-hover: var(--colorbase-core-fds-cb-alphawhite10);
    --color-semantic-fds-c-neutral-surface-shift-low-pressed: var(--colorbase-core-fds-cb-alphawhite15);
    --color-semantic-fds-c-neutral-surface-shift-medium: var(--colorbase-core-fds-cb-alphawhite15);
    --color-semantic-fds-c-neutral-surface-shift-medium-hover: var(--colorbase-core-fds-cb-alphawhite20);
    --color-semantic-fds-c-neutral-surface-high: var(--colorbase-core-fds-cb-gray19);
    --color-semantic-fds-c-neutral-surface-high-disabled: var(--colorbase-core-fds-cb-alphablack10);
    --color-semantic-fds-c-neutral-surface-high-hover: var(--colorbase-core-fds-cb-gray26);
    --color-semantic-fds-c-neutral-surface-none-hover: var(--colorbase-core-fds-cb-alphawhite5);
    --color-semantic-fds-c-neutral-surface-none-pressed: var(--colorbase-core-fds-cb-alphawhite10);
    --color-semantic-fds-c-neutral-surface-darken: var(--colorbase-core-fds-cb-alphablack10);
    --color-semantic-fds-c-neutral-surface-lighten: var(--colorbase-core-fds-cb-alphawhite4);
    --color-semantic-fds-c-neutral-surface-lighten-hover: var(--colorbase-core-fds-cb-alphawhite10);
    --color-semantic-fds-c-neutral-surface-inverted: var(--colorbase-core-fds-cb-gray100);
    --color-palette-fds-c-palette-base: var(--colorbase-core-fds-cb-gray19);
    --color-palette-fds-c-palette-red: var(--colorbase-extended-fds-cb-0d80);
    --color-palette-fds-c-palette-orange: var(--colorbase-extended-fds-cb-40d80);
    --color-palette-fds-c-palette-yellow: var(--colorbase-extended-fds-cb-80d85);
    --color-palette-fds-c-palette-green: var(--colorbase-extended-fds-cb-120d85);
    --color-palette-fds-c-palette-lime: var(--colorbase-extended-fds-cb-160d85);
    --color-palette-fds-c-palette-cyan: var(--colorbase-extended-fds-cb-200d85);
    --color-palette-fds-c-palette-blue: var(--colorbase-extended-fds-cb-240d85);
    --color-palette-fds-c-palette-indigo: var(--colorbase-extended-fds-cb-280d80);
    --color-palette-fds-c-palette-violet: var(--colorbase-extended-fds-cb-320d80);
    --color-semantic-fds-c-neutral-texticon-onneutral-1spot: var(--colorbase-core-fds-cb-alphawhite43);
    --color-semantic-fds-c-neutral-texticon-onneutral-2headline: var(--colorbase-core-fds-cb-alphawhite56);
    --color-semantic-fds-c-neutral-texticon-onneutral-3content: var(--colorbase-core-fds-cb-alphawhite68);
    --color-semantic-fds-c-neutral-texticon-onneutral-4body: var(--colorbase-core-fds-cb-alphawhite80);
    --color-semantic-fds-c-neutral-texticon-onneutral-5fluent: var(--colorbase-core-fds-cb-alphawhite90);
    --color-semantic-fds-c-neutral-texticon-onneutral-inverted: var(--colorbase-core-fds-cb-gray5);
    --color-semantic-fds-c-neutral-stroke-disabled: var(--colorbase-core-fds-cb-alphawhite2);
    --color-semantic-fds-c-neutral-stroke-low: var(--colorbase-core-fds-cb-alphawhite4);
    --color-semantic-fds-c-neutral-stroke-medium: var(--colorbase-core-fds-cb-alphawhite15);
    --color-semantic-fds-c-primary-surface: var(--colorbase-core-fds-cb-blued53);
    --color-semantic-fds-c-primary-surface-disabled: var(--colorbase-core-fds-cb-alphablue30);
    --color-semantic-fds-c-primary-surface-hover: var(--colorbase-core-fds-cb-blued61);
    --color-semantic-fds-c-primary-surface-pressed: var(--colorbase-core-fds-cb-blued71);
    --color-semantic-fds-c-primary-surface-low: var(--colorbase-core-fds-cb-alphablue15);
    --color-semantic-fds-c-primary-surface-low-hover: var(--colorbase-core-fds-cb-alphablue30);
    --color-semantic-fds-c-primary-surface-low-pressed: var(--colorbase-core-fds-cb-alphablue45);
    --color-semantic-fds-c-primary-texticon-onneutral: var(--colorbase-core-fds-cb-blued71);
    --color-semantic-fds-c-primary-texticon-onneutral-disabled: var(--colorbase-core-fds-cb-alphablue45);
    --color-semantic-fds-c-primary-texticon-onprimary: var(--colorbase-core-fds-cb-gray5);
    --color-semantic-fds-c-primary-stroke: var(--colorbase-core-fds-cb-blued53);
    --color-semantic-fds-c-primary-stroke-hover: var(--colorbase-core-fds-cb-blued61);
    --color-semantic-fds-c-primary-stroke-focus: var(--colorbase-core-fds-cb-alphablue30);
    --color-semantic-fds-c-positive-surface: var(--colorbase-core-fds-cb-greend58);
    --color-semantic-fds-c-positive-surface-hover: var(--colorbase-core-fds-cb-greend68);
    --color-semantic-fds-c-positive-surface-low: var(--colorbase-core-fds-cb-alphagreen15);
    --color-semantic-fds-c-positive-surface-low-hover: var(--colorbase-core-fds-cb-alphagreen30);
    --color-semantic-fds-c-positive-texticon-onneutral: var(--colorbase-core-fds-cb-greend68);
    --color-semantic-fds-c-positive-texticon-onpositive: var(--colorbase-core-fds-cb-gray5);
    --color-semantic-fds-c-warning-surface: var(--colorbase-core-fds-cb-yellowd80);
    --color-semantic-fds-c-warning-surface-hover: var(--colorbase-core-fds-cb-yellowd88);
    --color-semantic-fds-c-warning-texticon-onneutral: var(--colorbase-core-fds-cb-yellowd80);
    --color-semantic-fds-c-warning-texticon-onwarning: var(--colorbase-core-fds-cb-gray5);
    --color-semantic-fds-c-negative-surface: var(--colorbase-core-fds-cb-redd56);
    --color-semantic-fds-c-negative-surface-hover: var(--colorbase-core-fds-cb-redd66);
    --color-semantic-fds-c-negative-surface-pressed: var(--colorbase-core-fds-cb-redd74);
    --color-semantic-fds-c-negative-surface-disabled: var(--colorbase-core-fds-cb-alphared30);
    --color-semantic-fds-c-negative-surface-low: var(--colorbase-core-fds-cb-alphared15);
    --color-semantic-fds-c-negative-surface-low-hover: var(--colorbase-core-fds-cb-alphared30);
    --color-semantic-fds-c-negative-texticon-onneutral: var(--colorbase-core-fds-cb-redd66);
    --color-semantic-fds-c-negative-texticon-onnegative: var(--colorbase-core-fds-cb-gray5);
    --color-semantic-fds-c-negative-stroke: var(--colorbase-core-fds-cb-redd56);
    --radius-fds-r-none: 0px;
    --radius-fds-r-xs: 2px;
    --radius-fds-r-s: 4px;
    --radius-fds-r-md2less: 6px;
    --radius-fds-r-md: 8px;
    --radius-fds-r-md2more: 10px;
    --radius-fds-r-md4more: 12px;
    --radius-fds-r-lg: 12px;
    --radius-fds-r-xl: 16px;
    --radius-fds-r-2xl: 20px;
    --radius-fds-r-3xl: 32px;
    --radius-fds-r-3xl2more: 34px;
    --radius-fds-r-max: 1000px;
    --spacing-fds-s-fixed2: 2px;
    --spacing-fds-s-none: 0px;
    --spacing-fds-s-3xs: 2px;
    --spacing-fds-s-2xs: 4px;
    --spacing-fds-s-xs: 8px;
    --spacing-fds-s-sm: 12px;
    --spacing-fds-s-md: 16px;
    --spacing-fds-s-lg: 20px;
    --spacing-fds-s-xl: 24px;
    --spacing-fds-s-2xl: 32px;
    --spacing-fds-s-3xl: 48px;
    --spacing-fds-s-4xl: 64px;
    --width-fds-w-sm: 0.5px;
    --width-fds-w-md: 1px;
    --width-fds-w-lg: 2px;
    --width-fds-w-xl: 4px;
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-color-mode="dark">
        <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-color-mode="dark"] {
    --color-semantic-fds-c-neutral-background-minimum: var(--colorbase-core-fds-cb-gray6);
    --color-semantic-fds-c-neutral-background-low: var(--colorbase-core-fds-cb-gray8);
    --color-semantic-fds-c-neutral-background-medium: var(--colorbase-core-fds-cb-gray11);
    --color-semantic-fds-c-neutral-background-high: var(--colorbase-core-fds-cb-gray15);
    --color-semantic-fds-c-neutral-background-modaloverlay: var(--colorbase-core-fds-cb-alphablack60);
    --color-semantic-fds-c-neutral-surface-shift-low: var(--colorbase-core-fds-cb-alphawhite5);
    --color-semantic-fds-c-neutral-surface-shift-disabled: var(--colorbase-core-fds-cb-alphawhite4);
    --color-semantic-fds-c-neutral-surface-shift-low-hover: var(--colorbase-core-fds-cb-alphawhite10);
    --color-semantic-fds-c-neutral-surface-shift-low-pressed: var(--colorbase-core-fds-cb-alphawhite15);
    --color-semantic-fds-c-neutral-surface-shift-medium: var(--colorbase-core-fds-cb-alphawhite15);
    --color-semantic-fds-c-neutral-surface-shift-medium-hover: var(--colorbase-core-fds-cb-alphawhite20);
    --color-semantic-fds-c-neutral-surface-high: var(--colorbase-core-fds-cb-gray19);
    --color-semantic-fds-c-neutral-surface-high-disabled: var(--colorbase-core-fds-cb-alphablack10);
    --color-semantic-fds-c-neutral-surface-high-hover: var(--colorbase-core-fds-cb-gray26);
    --color-semantic-fds-c-neutral-surface-none-hover: var(--colorbase-core-fds-cb-alphawhite5);
    --color-semantic-fds-c-neutral-surface-none-pressed: var(--colorbase-core-fds-cb-alphawhite10);
    --color-semantic-fds-c-neutral-surface-darken: var(--colorbase-core-fds-cb-alphablack10);
    --color-semantic-fds-c-neutral-surface-lighten: var(--colorbase-core-fds-cb-alphawhite4);
    --color-semantic-fds-c-neutral-surface-lighten-hover: var(--colorbase-core-fds-cb-alphawhite10);
    --color-semantic-fds-c-neutral-surface-inverted: var(--colorbase-core-fds-cb-gray100);
    --color-palette-fds-c-palette-red: var(--colorbase-extended-fds-cb-0d80);
    --color-palette-fds-c-palette-orange: var(--colorbase-extended-fds-cb-40d80);
    --color-palette-fds-c-palette-yellow: var(--colorbase-extended-fds-cb-80d85);
    --color-palette-fds-c-palette-green: var(--colorbase-extended-fds-cb-120d85);
    --color-palette-fds-c-palette-lime: var(--colorbase-extended-fds-cb-160d85);
    --color-palette-fds-c-palette-cyan: var(--colorbase-extended-fds-cb-200d85);
    --color-palette-fds-c-palette-blue: var(--colorbase-extended-fds-cb-240d85);
    --color-palette-fds-c-palette-indigo: var(--colorbase-extended-fds-cb-280d80);
    --color-palette-fds-c-palette-violet: var(--colorbase-extended-fds-cb-320d80);
    --color-semantic-fds-c-neutral-texticon-onneutral-1spot: var(--colorbase-core-fds-cb-alphawhite43);
    --color-semantic-fds-c-neutral-texticon-onneutral-2headline: var(--colorbase-core-fds-cb-alphawhite56);
    --color-semantic-fds-c-neutral-texticon-onneutral-3content: var(--colorbase-core-fds-cb-alphawhite68);
    --color-semantic-fds-c-neutral-texticon-onneutral-4body: var(--colorbase-core-fds-cb-alphawhite80);
    --color-semantic-fds-c-neutral-texticon-onneutral-5fluent: var(--colorbase-core-fds-cb-alphawhite90);
    --color-semantic-fds-c-neutral-texticon-onneutral-inverted: var(--colorbase-core-fds-cb-gray5);
    --color-semantic-fds-c-neutral-stroke-disabled: var(--colorbase-core-fds-cb-alphawhite2);
    --color-semantic-fds-c-neutral-stroke-low: var(--colorbase-core-fds-cb-alphawhite4);
    --color-semantic-fds-c-neutral-stroke-medium: var(--colorbase-core-fds-cb-alphawhite15);
    --color-semantic-fds-c-primary-surface: var(--colorbase-core-fds-cb-blued53);
    --color-semantic-fds-c-primary-surface-hover: var(--colorbase-core-fds-cb-blued61);
    --color-semantic-fds-c-primary-surface-pressed: var(--colorbase-core-fds-cb-blued71);
    --color-semantic-fds-c-primary-surface-low: var(--colorbase-core-fds-cb-alphablue15);
    --color-semantic-fds-c-primary-surface-low-hover: var(--colorbase-core-fds-cb-alphablue30);
    --color-semantic-fds-c-primary-surface-low-pressed: var(--colorbase-core-fds-cb-alphablue45);
    --color-semantic-fds-c-primary-texticon-onneutral: var(--colorbase-core-fds-cb-blued71);
    --color-semantic-fds-c-primary-texticon-onneutral-disabled: var(--colorbase-core-fds-cb-alphablue45);
    --color-semantic-fds-c-primary-texticon-onprimary: var(--colorbase-core-fds-cb-gray5);
    --color-semantic-fds-c-primary-stroke: var(--colorbase-core-fds-cb-blued53);
    --color-semantic-fds-c-primary-stroke-hover: var(--colorbase-core-fds-cb-blued61);
    --color-semantic-fds-c-positive-surface: var(--colorbase-core-fds-cb-greend58);
    --color-semantic-fds-c-positive-surface-hover: var(--colorbase-core-fds-cb-greend68);
    --color-semantic-fds-c-positive-surface-low: var(--colorbase-core-fds-cb-alphagreen15);
    --color-semantic-fds-c-positive-surface-low-hover: var(--colorbase-core-fds-cb-alphagreen30);
    --color-semantic-fds-c-positive-texticon-onneutral: var(--colorbase-core-fds-cb-greend68);
    --color-semantic-fds-c-positive-texticon-onpositive: var(--colorbase-core-fds-cb-gray5);
    --color-semantic-fds-c-warning-surface: var(--colorbase-core-fds-cb-yellowd80);
    --color-semantic-fds-c-warning-surface-hover: var(--colorbase-core-fds-cb-yellowd88);
    --color-semantic-fds-c-warning-texticon-onneutral: var(--colorbase-core-fds-cb-yellowd80);
    --color-semantic-fds-c-warning-texticon-onwarning: var(--colorbase-core-fds-cb-gray5);
    --color-semantic-fds-c-negative-surface: var(--colorbase-core-fds-cb-redd56);
    --color-semantic-fds-c-negative-surface-hover: var(--colorbase-core-fds-cb-redd66);
    --color-semantic-fds-c-negative-surface-pressed: var(--colorbase-core-fds-cb-redd74);
    --color-semantic-fds-c-negative-surface-low: var(--colorbase-core-fds-cb-alphared15);
    --color-semantic-fds-c-negative-surface-low-hover: var(--colorbase-core-fds-cb-alphared30);
    --color-semantic-fds-c-negative-texticon-onneutral: var(--colorbase-core-fds-cb-redd66);
    --color-semantic-fds-c-negative-texticon-onnegative: var(--colorbase-core-fds-cb-gray5);
    --color-semantic-fds-c-negative-stroke: var(--colorbase-core-fds-cb-redd56);
}

[data-color-mode="light"] {
    --color-semantic-fds-c-neutral-background-minimum: var(--colorbase-core-fds-cb-gray94);
    --color-semantic-fds-c-neutral-background-low: var(--colorbase-core-fds-cb-gray96);
    --color-semantic-fds-c-neutral-background-medium: var(--colorbase-core-fds-cb-gray98);
    --color-semantic-fds-c-neutral-background-high: var(--colorbase-core-fds-cb-gray100);
    --color-semantic-fds-c-neutral-background-modaloverlay: var(--colorbase-core-fds-cb-alphablack40);
    --color-semantic-fds-c-neutral-surface-shift-low: var(--colorbase-core-fds-cb-alphablack5);
    --color-semantic-fds-c-neutral-surface-shift-disabled: var(--colorbase-core-fds-cb-alphablack5);
    --color-semantic-fds-c-neutral-surface-shift-low-hover: var(--colorbase-core-fds-cb-alphablack10);
    --color-semantic-fds-c-neutral-surface-shift-low-pressed: var(--colorbase-core-fds-cb-alphablack15);
    --color-semantic-fds-c-neutral-surface-shift-medium: var(--colorbase-core-fds-cb-alphablack10);
    --color-semantic-fds-c-neutral-surface-shift-medium-hover: var(--colorbase-core-fds-cb-alphablack15);
    --color-semantic-fds-c-neutral-surface-high: var(--colorbase-core-fds-cb-gray100);
    --color-semantic-fds-c-neutral-surface-high-disabled: var(--colorbase-core-fds-cb-alphablack2);
    --color-semantic-fds-c-neutral-surface-high-hover: var(--colorbase-core-fds-cb-gray98);
    --color-semantic-fds-c-neutral-surface-none-hover: var(--colorbase-core-fds-cb-alphablack5);
    --color-semantic-fds-c-neutral-surface-none-pressed: var(--colorbase-core-fds-cb-alphablack10);
    --color-semantic-fds-c-neutral-surface-darken: var(--colorbase-core-fds-cb-alphablack2);
    --color-semantic-fds-c-neutral-surface-lighten: var(--colorbase-core-fds-cb-alphawhite80);
    --color-semantic-fds-c-neutral-surface-lighten-hover: var(--colorbase-core-fds-cb-alphawhite20);
    --color-semantic-fds-c-neutral-surface-inverted: var(--colorbase-core-fds-cb-gray19);
    --color-palette-fds-c-palette-red: var(--colorbase-extended-fds-cb-0l85);
    --color-palette-fds-c-palette-orange: var(--colorbase-extended-fds-cb-40l85);
    --color-palette-fds-c-palette-yellow: var(--colorbase-extended-fds-cb-80l90);
    --color-palette-fds-c-palette-green: var(--colorbase-extended-fds-cb-120l90);
    --color-palette-fds-c-palette-lime: var(--colorbase-extended-fds-cb-160l90);
    --color-palette-fds-c-palette-cyan: var(--colorbase-extended-fds-cb-200l90);
    --color-palette-fds-c-palette-blue: var(--colorbase-extended-fds-cb-240l90);
    --color-palette-fds-c-palette-indigo: var(--colorbase-extended-fds-cb-280l85);
    --color-palette-fds-c-palette-violet: var(--colorbase-extended-fds-cb-320l85);
    --color-semantic-fds-c-neutral-texticon-onneutral-1spot: var(--colorbase-core-fds-cb-alphablack25);
    --color-semantic-fds-c-neutral-texticon-onneutral-2headline: var(--colorbase-core-fds-cb-alphablack37);
    --color-semantic-fds-c-neutral-texticon-onneutral-3content: var(--colorbase-core-fds-cb-alphablack54);
    --color-semantic-fds-c-neutral-texticon-onneutral-4body: var(--colorbase-core-fds-cb-alphablack65);
    --color-semantic-fds-c-neutral-texticon-onneutral-5fluent: var(--colorbase-core-fds-cb-alphablack83);
    --color-semantic-fds-c-neutral-texticon-onneutral-inverted: var(--colorbase-core-fds-cb-gray100);
    --color-semantic-fds-c-neutral-stroke-disabled: var(--colorbase-core-fds-cb-alphablack2);
    --color-semantic-fds-c-neutral-stroke-low: var(--colorbase-core-fds-cb-alphablack5);
    --color-semantic-fds-c-neutral-stroke-medium: var(--colorbase-core-fds-cb-alphablack10);
    --color-semantic-fds-c-primary-surface: var(--colorbase-core-fds-cb-bluel50);
    --color-semantic-fds-c-primary-surface-hover: var(--colorbase-core-fds-cb-bluel42);
    --color-semantic-fds-c-primary-surface-pressed: var(--colorbase-core-fds-cb-bluel34);
    --color-semantic-fds-c-primary-surface-low: var(--colorbase-core-fds-cb-alphablue8);
    --color-semantic-fds-c-primary-surface-low-hover: var(--colorbase-core-fds-cb-alphablue15);
    --color-semantic-fds-c-primary-surface-low-pressed: var(--colorbase-core-fds-cb-alphablue30);
    --color-semantic-fds-c-primary-texticon-onneutral: var(--colorbase-core-fds-cb-bluel42);
    --color-semantic-fds-c-primary-texticon-onneutral-disabled: var(--colorbase-core-fds-cb-alphablue30);
    --color-semantic-fds-c-primary-texticon-onprimary: var(--colorbase-core-fds-cb-gray100);
    --color-semantic-fds-c-primary-stroke: var(--colorbase-core-fds-cb-bluel50);
    --color-semantic-fds-c-primary-stroke-hover: var(--colorbase-core-fds-cb-bluel42);
    --color-semantic-fds-c-positive-surface: var(--colorbase-core-fds-cb-greenl48);
    --color-semantic-fds-c-positive-surface-hover: var(--colorbase-core-fds-cb-greenl40);
    --color-semantic-fds-c-positive-surface-low: var(--colorbase-core-fds-cb-alphagreen8);
    --color-semantic-fds-c-positive-surface-low-hover: var(--colorbase-core-fds-cb-alphagreen15);
    --color-semantic-fds-c-positive-texticon-onneutral: var(--colorbase-core-fds-cb-greenl48);
    --color-semantic-fds-c-positive-texticon-onpositive: var(--colorbase-core-fds-cb-gray100);
    --color-semantic-fds-c-warning-surface: var(--colorbase-core-fds-cb-yellowl88);
    --color-semantic-fds-c-warning-surface-hover: var(--colorbase-core-fds-cb-yellowl78);
    --color-semantic-fds-c-warning-texticon-onneutral: var(--colorbase-core-fds-cb-yellowl45);
    --color-semantic-fds-c-warning-texticon-onwarning: var(--colorbase-core-fds-cb-yellowl26);
    --color-semantic-fds-c-negative-surface: var(--colorbase-core-fds-cb-redl36);
    --color-semantic-fds-c-negative-surface-hover: var(--colorbase-core-fds-cb-redl28);
    --color-semantic-fds-c-negative-surface-pressed: var(--colorbase-core-fds-cb-redl20);
    --color-semantic-fds-c-negative-surface-low: var(--colorbase-core-fds-cb-alphared10);
    --color-semantic-fds-c-negative-surface-low-hover: var(--colorbase-core-fds-cb-alphared15);
    --color-semantic-fds-c-negative-texticon-onneutral: var(--colorbase-core-fds-cb-redl36);
    --color-semantic-fds-c-negative-texticon-onnegative: var(--colorbase-core-fds-cb-gray100);
    --color-semantic-fds-c-negative-stroke: var(--colorbase-core-fds-cb-redl36);
}

[data-radius-mode="default"] {
    --radius-fds-r-xs: 2px;
    --radius-fds-r-s: 4px;
    --radius-fds-r-md2less: 6px;
    --radius-fds-r-md: 8px;
    --radius-fds-r-md2more: 10px;
    --radius-fds-r-md4more: 12px;
    --radius-fds-r-lg: 12px;
    --radius-fds-r-xl: 16px;
    --radius-fds-r-2xl: 20px;
    --radius-fds-r-3xl: 32px;
    --radius-fds-r-3xl2more: 34px;
}

[data-radius-mode="rounder"] {
    --radius-fds-r-xs: 3px;
    --radius-fds-r-s: 6px;
    --radius-fds-r-md2less: 10px;
    --radius-fds-r-md: 12px;
    --radius-fds-r-md2more: 14px;
    --radius-fds-r-md4more: 16px;
    --radius-fds-r-lg: 20px;
    --radius-fds-r-xl: 24px;
    --radius-fds-r-2xl: 28px;
    --radius-fds-r-3xl: 40px;
    --radius-fds-r-3xl2more: 42px;
}

[data-radius-mode="sharper"] {
    --radius-fds-r-xs: 1px;
    --radius-fds-r-s: 3px;
    --radius-fds-r-md2less: 4px;
    --radius-fds-r-md: 6px;
    --radius-fds-r-md2more: 8px;
    --radius-fds-r-md4more: 10px;
    --radius-fds-r-lg: 8px;
    --radius-fds-r-xl: 12px;
    --radius-fds-r-2xl: 16px;
    --radius-fds-r-3xl: 24px;
    --radius-fds-r-3xl2more: 26px;
}

[data-spacing-mode="default"] {
    --spacing-fds-s-3xs: 2px;
    --spacing-fds-s-2xs: 4px;
    --spacing-fds-s-xs: 8px;
    --spacing-fds-s-sm: 12px;
    --spacing-fds-s-md: 16px;
    --spacing-fds-s-lg: 20px;
    --spacing-fds-s-xl: 24px;
    --spacing-fds-s-2xl: 32px;
    --spacing-fds-s-3xl: 48px;
    --spacing-fds-s-4xl: 64px;
}

[data-spacing-mode="compact"] {
    --spacing-fds-s-3xs: 1px;
    --spacing-fds-s-2xs: 2px;
    --spacing-fds-s-xs: 4px;
    --spacing-fds-s-sm: 8px;
    --spacing-fds-s-md: 12px;
    --spacing-fds-s-lg: 14px;
    --spacing-fds-s-xl: 16px;
    --spacing-fds-s-2xl: 24px;
    --spacing-fds-s-3xl: 32px;
    --spacing-fds-s-4xl: 48px;
}

[data-spacing-mode="roomy"] {
    --spacing-fds-s-3xs: 4px;
    --spacing-fds-s-2xs: 8px;
    --spacing-fds-s-xs: 12px;
    --spacing-fds-s-sm: 16px;
    --spacing-fds-s-md: 24px;
    --spacing-fds-s-lg: 28px;
    --spacing-fds-s-xl: 32px;
    --spacing-fds-s-2xl: 48px;
    --spacing-fds-s-3xl: 64px;
    --spacing-fds-s-4xl: 80px;
}
